/* Adicionar aqui toda a estilização criada para sua aplicação. */
body{
    margin: 0;
    font-family: sans-serif;
}

/*Guarda as variaveis*/
:root {
    --azul: #32b9cd;
    --amarelo: #e3b062;
}

/*HEADER*/

.header{
    background-color: black;
    border-bottom: 3px solid var(--azul); /* var chama a variavel criada em root*/

}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.titulo{
    color: var(--azul);
}

.navbar{
    display: flex;
    justify-content: space-between;
    color: var(--amarelo);
    list-style: none;
    width: 300px; /*Largura*/
}

.navbar a{
    color: var(--amarelo);
    text-decoration: none; /*Tira qualquer decoração do texto*/
}

.agora{
        font-weight: bolder; 
}


/*BANER*/

.banner{
    height: 400px;/* 400px é um valor fixo*/
    width: 100%; /* 100% é um valor fluido*/
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);/* ../ entende que voce esta procurando uma caminho*/
    background-size: cover;
}

.banner .container{
    height: 100%;
    width: 100%;
    display: flex; /*Define como flexivel*/
    justify-content: center;
    align-items: center;
}

.banner .container p{
    width: 170px;
    margin: 0;
    color: white;
    font-size: 24px;

}

.banner .container span{
    font-weight: bolder;
}

/*MISSÃO VISÃO E VALORES*/

.social{
    height: 400px;
    width: 100%;
    background-color: #dcdcdc;
}

.social .container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{ /* Definição das imagens*/
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
}

.box img{
    width: 120px;
    height: 120px;

}

.box h4{
    margin: 0;
    margin-top: 10px;
    color: #e4005a;
}


/*FOOTER*/

.footer{
    height: 120px;
    width: 100%;
    background-color: var(--azul);
}

.footer .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer h4{
margin-bottom: 0;
}


/*LOGIN*/

.container .card{
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);
    color: #e4005a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px; 
    width: 100%;
    flex-direction: column;

}

.quadrado{
    background-color: #dcdcdc;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input1{
    height: 30px; 
    width: 450px;
    border-radius: 8px;
    text-align: center;
    border-color: #32b9cd;
}

h2{
    text-align: center;

}

.botao{
   background-color: #e4005a;
   color: white;
   height: 30px; 
   width: 100px;
   border-radius: 5px;
   border-color: #e4005a;
}


/*CADASTRO*/

.container .card{
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);
    color: #e4005a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px; 
    width: 100%;
    flex-direction: column;

}

.quadro{
    background-color: #dcdcdc;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
}


.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input2{
    height: 30px; 
    width: 450px;
    border-radius: 8px;
    text-align: center;
    border-color: #32b9cd;
    justify-content: center;
    align-items: center;
    display: flex;
}

h2{
    text-align: center;

}

.botao2{
    border-radius: 5px;
    background-color:#e4005a ;
    height: 30px;
    width: 75px;
    border-color:#e4005a ;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 190px;
}

